#calendar {
  display: flex;
  align-content: flex-start;
  height: 500px;
  width: 800px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 4;
}

#close-button {
  top: 0;
  padding: 10px;
  font-size: 20px;
}

#services-header {
  font-size: 40px;
}

.services-list {
  list-style: none;
  padding: 2% 0;
  font-size: 25px;
}

#launch-calendly {
  font-size: 20px;
}
