* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #71816d;
  overflow: hidden;
}

a {
  text-decoration: none;
  transition: color 0.5s ease;
  color: inherit;
}

a:hover {
  color: #da667b;
}

.App {
  text-align: center;
  font-family: "Playfair Display", serif;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  align-self: center;
  scroll-snap-align: center;
  background-color: rgba(0, 0, 0, 0.212);
  color: #f1e0c5;
  min-width: 600px;
  margin: 0 400px;
}

.x-scroll {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  position: absolute;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.ext {
  width: 0px;
  height: 1px;
  margin: 0;
  background: transparent none;
}
