nav {
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: start;
}

nav > a {
  padding: 2px 20px;
  color: #f1e0c5;
  font-size: 17px;
}

nav > a:hover {
  color: purple;
}
