nav {
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: start;
  z-index: 2;
}

nav > a {
  padding: 2px 20px;
  color: var(--light-tan);
  font-size: 17px;
}

nav > a:hover {
  color: #da667b;
}
