.forward-button {
  right: 10px;
}

.back-button {
  left: 10px;
}

.navbutton {
  position: fixed;
  height: 75px;
  width: 75px;
  font-size: 25px;
  top: 50%;
  border-radius: 50%;
  color: #f1e0c5;
  background-color: #04070344;
  transition: background-color 1s ease;

  border: none;
}

.navbutton:hover {
  background-color: #04070386;
}
